.accueil {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 15px;
  @media screen and (max-width: 768px) {
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
