.banner {
  width: 100%;
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.585);
    border-radius: 25px;
  }
}
