.carouselContainer {
  margin-bottom: 20px;
  padding: 0;
  width: 1240px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  .pictures {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    & img {
      width: 1240px;
      height: fit-content;
    }
  }
}
.leftArrow,
.rightArrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 10;
}
.leftArrow {
  left: 5%;
}
.rightArrow {
  right: 5%;
}
