.carouselContainer {
  margin-bottom: 20px;
  padding: 0;
  max-width: 1240px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    min-width: 335px;
    height: 255px;
  }

  .pictures {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .pictureItem {
      min-width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
      }
    }
  }
  p {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    color: white;
    font-size: 1rem;
    z-index: 10;
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      bottom: 10px;
    }
  }
  .leftArrow,
  .rightArrow {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 10;
    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
  .leftArrow {
    left: 5%;
  }
  .rightArrow {
    right: 5%;
  }
}
