footer {
  width: 100%;
  height: 210px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 122px;
  }
  p {
    width: 100%;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 200px;
      text-wrap: nowrap;
    }
  }
}
