header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  img {
    height: 60px;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 30px;
      li {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
