header {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  @media screen and (max-width: 768px) {
    padding: 15px 20px;
  }
  img {
    height: 60px;
    @media screen and (max-width: 768px) {
      height: 40px;
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 30px;
      li {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
