.logementInfos {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
  .logementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 768px) {
      gap: 15px;
    }
    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 24px;
        color: #ff6060;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      p {
        font-size: 16px;
        color: #000000;
        margin: 5px 0 0 0;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
  .hostInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
      gap: 0;
    }

    .hostContainer {
      display: flex;
      align-items: start;
      justify-content: flex-end;
      gap: 10px;
      p {
        font-size: 18px;
        color: #ff6060;
        margin: 0;
        flex-basis: min-content;
        text-align: right;
        padding-top: 10px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          padding-top: 5px;
        }
      }
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        @media screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
.logementDetails {
  display: flex;
  margin-bottom: 50px;
  gap: 100px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 0;
  }

  .descriptionContainer {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
      h2 {
        font-size: 13px;
      }
    }
    .content {
      padding: 0 10px;
      color: #000000;
      margin: 0;
      line-height: 1.5;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  .equipmentsContainer {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
      h2 {
        font-size: 13px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 0 10px;
    }
    li {
      color: #000000;
      margin: 0 0 5px 0;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
