body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 0 80px;
}
