.ratingContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  @media screen and (max-width: 768px) {
    gap: 10px;
  }
  img {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 768px) {
      width: 13px;
      height: 13px;
    }
  }
}
