.thumbnails_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 35px;
  background-color: #f6f6f6;
  border-radius: 25px;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0;
    background-color: transparent;
  }
}
