.thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  position: relative;
  h3 {
    width: 50%;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #eeeeee00 25%, #333333ae 75%);
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }
}
