.thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000ae 25%, #ffffff00 75%);
    border-radius: 10px;
  }
  h3 {
    width: 40%;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }
}
