.thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  border-radius: 10px;
  img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
  }

  h3 {
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.2rem;
  }
}
